@font-face {
  font-family: roboto;
  src: url(../resources/roboto-regular-webfont.woff2);
}

@font-face {
  font-family: roboto-bold;
  src: url(../resources/roboto-bold-webfont.woff2);
}

@font-face {
  font-family: bebas;
  src: url(../resources/Bebas-Regular.ttf);
}

:root {
  --neutral-color: #efefef;
  --carbon-color: #a9a9a9;
  --watermelon-color: #ff3b3f;
  --sky-color: #caebf2;
}

* {
  font-family: bebas, roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
}

body {
  margin: 0;
}

.title {
  font-family: bebas, roboto-bold, Arial, Helvetica, sans-serif;
  font-size: 4em;
}

.dots {
  color: var(--watermelon-color);
  font-size: 6em;
  line-height: 0;
}

.human-buttons {
  max-width: 10em;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.human-buttons:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.computer-buttons {
  max-width: 10em;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  transition-duration: 1s;
}

.computer-buttons.animation {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.bg-neutral {
  background-color: var(--neutral-color);
}

.melon-color {
  color: var(--watermelon-color);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.logs {
  max-height: 12em;
  overflow: auto;
}

.history-title {
  color: var(--watermelon-color);
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.my-modal {
  width: 600px;
  max-width: 75%;
  background-color: #fff;
  border-radius: 5px;
  padding: 80px 50px;
}

.my-modal h2 {
  font-size: 4em;
  color: var(--watermelon-color);
}

.my-modal button {
  font-size: 1.5em;
}

.pl-score,
.pc-score {
  transition-duration: 0.5s;
}

.pl-score.red-color {
  color: var(--watermelon-color);
  transform: scale(1.2);
}

.pc-score.red-color {
  color: var(--watermelon-color);
  transform: scale(1.2);
}
